---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<"a"> {
    href: string;
    variant?: 'primary' | 'secondary' | 'primary-outline' | 'secondary-outline';
    size?: 'small' | 'medium' | 'large';
    class?: string;
}

const {href, variant = 'primary', size = 'medium', class: extraClass = '', ...opts} = Astro.props

const baseClass = 'inline-flex items-center justify-center transition-all duration-300 ease-in-out';

const variants = {
    primary: 'bg-blue-600 text-white hover:bg-blue-700',
    secondary: 'bg-gray-100 text-gray-900 hover:bg-gray-200',
    'primary-outline': 'border border-blue-600 text-gray-900 hover:bg-gray-100',
    'secondary-outline': 'bg-transparent hover:bg-gray-100 text-gray-900',
};

const sizes = {
    small: 'px-3 py-1.5 text-sm',
    medium: 'px-4 py-2 text-base',
    large: 'px-6 py-3 text-lg',
};

const classes = `${baseClass} ${variants[variant]} ${sizes[size]} || ''} ${extraClass}`;
---

<a href={href} class={classes} {...opts}>
    <slot />
</a>


